<section class="allProducts">
  <h3>Welcome {{first_name}}, your email is: {{email}}</h3>
  <h3>ALL PRODUCTS</h3>
  <section class="containerProducts">
    {{#each products}}
      <a href="/api/products/{{_id}}">
        <div class="container-Logo">
          {{!-- <img class="logo" alt="logoShop" src="/images/catProducts.png" /> --}}
        </div>
        <div class="info">
          <p> {{title}}</p>
          <p>$ {{price}} </p>
        </div>

      </a>
    {{/each}}
    <button onclick="location.href ='/api/users/logout'">Logout</button>
  </section>
</section>